@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.render-area {
    min-width: 80vw;
    min-height: 80vh;

    display: flex;

    gap: 2em;
}

.text-input {
    flex: 1;
    resize: none;

    border: 0;
    outline: 0;
}

.text-input:focus {
    border: 0;
    outline: 0;
}

.markdown-render {
    flex: 1;
}
